body{
	background-color: linen;
	text-align: left;
}

#registrationForm {
	text-align: left;
}
fieldset {
	padding: 5px;
	width: 600px;
	background-color: lightgray;
}

input.textbox {
	width: 150px;
	margin: auto;
	float: left;
}

input#button {
	width: 60px;
	font-weight: bold;
}

legend {
	font-weight: bold;
}

label.field{
	font-weight: bold;
	text-align: right;
	float: left;
	width: 150px;
}

table, th, td {
   border: 1px solid black;
}

th {
	    background-color: #4CAF50;
        color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:hover {background-color: #f5f5f5}

th, td {
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

th {
	text-align: left;
}

.hidden {
	display: hidden
}