body{
	background-color: linen;
	text-align: left;
	background-color: #222930;
	font-family: Trebuchet, Tahoma, Arial, sans-serif;
	color: #E9E9E9;

}

body a {
	color: #E9E9E9;
	text-decoration: none;
}
body a:visited {
	color: #E9E9E9;
}

#main-navbar {
	top:0;
	left:0;
	position:fixed;
	width:100%;
	height:60px;
	background-color: #4EB1BA;
	text-align: center;
	color: #222930;
}

#main-navbar a {
	color: #222930;
	text-decoration: none;
}

#main-navbar a:visited {
 color: #222930;
}

#login-header {
	margin: 90px 0 0 0;
}

#main-navbar p {
	font-size: 40px;
	margin: 10px 0 0 20px;
	float: left;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Trebuchet, Tahoma, Arial, sans-serif;
}

#registrationForm {
	text-align: left;
}

fieldset {
	padding: 5px;
	width: 600px;
}

input.textbox {
	width: 150px;
	margin: auto;
	float: left;
}

input#button {
	width: 60px;
	font-weight: bold;
}

legend {
	font-weight: bold;
}

label.field{
	font-weight: bold;
	text-align: right;
	float: left;
	width: 150px;
}

table, td {
   border: 1px solid #E9E9E9;
}



th {
	    background-color: #4EB1BA;
        color: #222930;
        border: 1px solid #E9E9E9;

}

table {
   	margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
}
#product-listing-table {
	margin-top: 0px;
}
caption {
	font-size: 30px;
	color: white;
	/*border-top: 1px solid #E9E9E9;*/
	/*border-right: 1px solid #E9E9E9;*/
	/*border-left: 1px solid #E9E9E9;*/
	padding-bottom: 10px;

}

tr:hover {
	background-color: #E9E9E9;
	color: #222930;
}

tr:hover a {
	color: #222930;
}

th, td {
	padding: 15px;
	border-bottom: 1px solid #E9E9E9;
}

th {
	text-align: left;
}

.hidden {
	display: hidden
}

.bold {
	font-weight: bold;
}