@(requests: List[models.Request], requestForm: Form[views.formdata.RequestDataform],purchaseOrder: PurchaseOrder, user: User)

@import helper._

@main("Purchase Order Requests")( Arrays.asList("purchaseOrder") )( Arrays.asList("purchaseOrder") ) {


<table>
    <tr>
        <th>Request ID</th>
        <th>Supplier</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Requester ID</th>
        <th>Shipping Date</th>
        <th>State</th>
    </tr>
    @if(requests.size > 0){
        @for( index <- 0 until requests.size) {
            <tr class="request-listing category-@requests(index).category">
                <td class="request-id">@requests(index).id</td>
                <td class="request-supplier">@requests(index).supplier</td>
                <td class="request-productName">@requests(index).productName</td>
                <td class="request-category">@requests(index).category</td>
                <td class="request-quantity" value="@requests(index).requestedQuantity">@requests(index).requestedQuantity</td>
                <td class="requester" value="@requests(index).requester.id">@requests(index).requester.id</td>
                <td class="shippingDate" value="@requests(index).shippingDate">@requests(index).shippingDate</td>
                @if(requests(index).done == false) {
                <td class="purchase-order-state">Pending...</td>
                }
                @if(requests(index).done == true) {
                <td class="purchase-order-state">Awaiting Confirmation...</td>
                }
            </tr>
        }
    }
</table>
    @if(requests.size == 0) {
        <p>No Requests Found</p>
    }

    @form(routes.PurchaseController.addRequestToOrder(purchaseOrder.id)) {

        @inputText(requestForm("productName"))
        @inputText(requestForm("category"))
        @inputText(requestForm("quantity"))
        @inputText(requestForm("price"))
        Size: <select name="size">
            <option value="SMALL">Small</option>
            <option value="MEDIUM">Medium</option>
            <option value="LARGE">Large</option>
        </select><br><br>

        <input type="submit" value="Add To Order">
    }
}

