@(user: User,form: Form[views.formdata.ChangePassword])

@main("Change Password")(new ArrayList())(new ArrayList()) {
	@helper.form(routes.Application.changePasswordPost()) {
	   <h1>Password Change</h1>
	   @if(form.hasGlobalErrors) {
	    <p class="error">
	        @form.globalError.message
	    </p>
		}
		<fieldset>
			<legend>Password Change</legend>
			<p>Current Password: <input type = "password" name = "currentPassword" placeholder = "Password" value = "@form("currentPassword").value"></p>
			<p>New Password: <input type = "password" name = "newPassword" placeholder = "Password" value = "@form("newPassword").value"></p>
			<p>Repeat New Password: <input type = "password" name = "repeatNewPassword" placeholder = "Password" value = "@form("repeatNewPassword").value"></p>
			<p><button type="submit">Submit</button></p>
		</fieldset>
	}
}
