@(purchaseOrders: List[models.PurchaseOrder], user: User)

@import helper._

@main("Purchase Order History")( Arrays.asList("purchaseOrder") )( Arrays.asList("purchaseOrder") ) {


<table>
    <tr>
        <th>Order ID</th>
        <th>Supplier</th>
        <th>Shipping Date</th>
        <th>Delivery Date</th>
        <th>State</th>
        <th>View</th>
        <th>Add</th>
    </tr>
    @if(purchaseOrders.size > 0){
    @for( index <- 0 until purchaseOrders.size) {
                <tr class="purchase-orders">
                    <td class="purchase-order-id">@purchaseOrders(index).id</td>
                    <td class="purchase-order-supplier">@purchaseOrders(index).supplierName</td>
                    <td class="purchase-order-shipping-date">@purchaseOrders(index).shippingDate</td>
                    <td class="purchase-order-delivery-date">@purchaseOrders(index).deliveryDate</td>
                    <td class="purchase-order-view-requests"><a href="@routes.PurchaseController.viewRequests(purchaseOrders(index).id)">View Requests</a></td>
                    <td class="purchase-order-add-request"><a href="@routes.PurchaseController.addToOrder(purchaseOrders(index).id)">Add Requests to order</a></td>
                    @if(purchaseOrders(index).done == false) {
                    <td class="purchase-order-state">Pending...</td>
                    }
                    @if(purchaseOrders(index).done == true) {
                    <td class="purchase-order-state">Awaiting Confirmation...</td>
                    }
                </tr>
            }
        }
</table>
    @if(purchaseOrders.size == 0) {
        <p>No Orders Found</p>
    }
}

