
@main("Registration") {
    <div>
        <form action="/registration" method="post">
			First name:<br>
			<input type="text" name="firstName" value="" maxlength="100" required/>
			<br />
			Last name:<br> 
			<input type="text" name="lastName" value="" maxlength="100" required/>
			<br />
			Email:<br>
			<input type="email" name="email" value="" maxlength="100" required/>
			<br />
			Date of Birth:<br>
			<input type="date" name="dateOfBirth" value="" max="1998-1-1" required/>
			<br />
			Password:<br>
			<input type="password" name="password" value="" required/>
			<br />
			Repeat Password:<br>
			<input type="password" name="repeatPassword" value="" required/>
			<br />
			Role:<br>
			<select name="role" required>
				<option value="USER">User</option>
				<option value="MANAGER">Manager</option>
				<option value="ADMINISTRATOR">Administrator</option>
			</select>
			Role:<br>
			<select name="gender" required>
                <option value="MALE">Male</option>
				<option value="FEMALE">Female</option>
			</select>
			<br />
			<div id="mngrID">
				Manager/Admin ID:<br>
				<input type="number" name="roleConfirmationId" value="" maxlength="10"/>
				<br />
			</div>
			<input type="submit" value="Submit" />
		</form>
	</div>
    <a href="@routes.Application.login">Login</a>
}
