@(message: String)

@main("Welcome to Play") {
    <form action="/registration">
        First Name:<br>
        <input type="text" name="first-name"><br>

        Last Name:<br>
        <input type="text" name="last-name"><br>

        E-mail:<br>
        <input type="email" name="email"><br>

        Password:<br>
        <input type="password" name"password"><br>

        Date of Birth:<br>
        <input type="text" name="date-of-birth"><br>
        
        Gender<br>
        <select>
            <option value="male">
            <option value="female">
        </select>

        Role<br>
        <select>
            <option value="user">User</option>
            <option value="administrator">Administrator</option>
            <option value="manager">Manager</option>
        </select>

        <input type="submit" value="submit">
    </form>
}
