@(requests: List[models.Request], categories: List[String], user: User)

@import helper._

@main("See Posted Requests")( Arrays.asList("request") )( Arrays.asList("request") ) {


<table>
    <tr>
        <th>Request ID</th>
        <th>Supplier</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Operator ID</th>
        <th>Shipping Date</th>
        <th>Action</th>
    </tr>
    @if(requests.size > 0){
    @for( index <- 0 until requests.size) {
        @if(requests(index).operator == null) {
                <tr class="request-listing category-@requests(index).category">
                    <td class="request-id">@requests(index).id</td>
                    <td class="request-supplier">@requests(index).supplier</td>
                    <td class="request-productName">@requests(index).productName</td>
                    <td class="request-category">@requests(index).category</td>
                    <td class="request-quantity" value="@requests(index).requestedQuantity">@requests(index).requestedQuantity</td>
                    <td class="request-shippingDate" value="@requests(index).shippingDate">@requests(index).shippingDate</td>
                    <td></td>
                    <td>Processing</td>
                </tr>
        }else {
            @helper.form(routes.RequestController.confirm(requests(index).id)){
                <tr class="request-listing category-@requests(index).category">
                    <td class="request-id">@requests(index).id</td>
                    <td class="request-supplier">@requests(index).supplier</td>
                    <td class="request-productName">@requests(index).productName</td>
                    <td class="request-category">@requests(index).category</td>
                    <td class="request-quantity" value="@requests(index).requestedQuantity">@requests(index).requestedQuantity</td>
                    <td class="request-operator" value="@requests(index).operator.id">@requests(index).operator.id</td>
                    <td class="request-shippingDate" value="@requests(index).shippingDate">@requests(index).shippingDate</td>
                    <td><button class="confirm-button" value="@requests(index).id">Confirm</button></td>
                </tr>
            }
        }
    }
    }
</table>
}