@(products: List[models.Product], categories: List[String])

@import helper._

@main("Products")( Arrays.asList("product") )( Arrays.asList("product") ) {

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Add/Delete Alternate Items</th>
    </tr>
    @for( index <- 0 until products.size) {
        @helper.form(routes.ProductController.manageAlternates(products(index).id)){
            <tr class="product-listing category-@products(index).category">
                <td class="product-name">@products(index).name</td>
                <td class="product-category">@products(index).category</td>
                <td class="product-price" value="@products(index).price">@products(index).getFormattedPrice()</td>
                <td><button class="buy-button" value="@products(index).id">Add/Delete</button></td>
            </tr>
            }
    }
</table>


}