@(user: User, products: List[models.Product], categories: List[String], productForm: Form[views.formdata.ProductDataform])

@import helper._

@main("Products")( Arrays.asList("product") )( Arrays.asList("product") ) {


<div class="category-selection-div">
    <span class=".category-title">Category: </span>
    <select class="category-selector">
        @for(index <- 0 until categories.size) {
            <option value="@categories(index)" class="category-filter">@categories(index)</option>
        }
    </select>
</div>

<div class="product-search-div">
    <input type="text" class="product-search-bar">
    <button class="search-button">Search</button>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Buy</th>
    </tr>
    @for( index <- 0 until products.size) {
        @if( products(index).quantity - user.getQuantityInCartByProduct( products(index) ) > 0 ) {
            <tr class="product-listing category-@products(index).category">
                <td class="product-name">@products(index).name</td>
                <td class="product-category">@products(index).category</td>
                <td class="product-quantity" value="@(products(index).quantity - user.getQuantityInCartByProduct( products(index) ) )">
                    @(products(index).quantity - user.getQuantityInCartByProduct( products(index) ) )
                </td>
                <td class="product-price" value="@products(index).price">@products(index).getFormattedPrice()</td>
                <td><button class="buy-button" value="@products(index).id">Add To Cart</button></td>
            </tr>
        }
    }
</table>
<div id="buy-confirmation-dialog">
    <input id="confirmation-quantity" type="number">
    <div id="buy-confirmation-dialog-txt"></div>
</div>
<div id="buy-error-dialog">
    <div id="buy-error-dialog-txt"></div>
</div>

    @if( false ) {
        @form(routes.ProductController.addProduct()) {

            @inputText(productForm("id"))
            @inputText(productForm("productName"))
            @inputText(productForm("category"))
            @inputText(productForm("quantity"))
            @inputText(productForm("price"))

            <input type="submit" value="Create">

        }

    }
}

