@(products: List[models.Product], productForm: Form[views.formdata.ProductDataform])

@import helper._

@main("Registration")( Arrays.asList("product") )( Arrays.asList("product") ) {
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
    </tr>
    @for( index <- 0 until products.size) {
        <tr>
            <td>@products(index).productName</td>
            <td>@products(index).category</td>
            <td>@products(index).quantity</td>
        </tr>
    }
</table>

    @form(routes.ProductController.addProduct()) {

        @inputText(productForm("id"))
        @inputText(productForm("productName"))
        @inputText(productForm("category"))
        @inputText(productForm("quantity"))
        @inputText(productForm("price"))

        <input type="submit" value="Create">

    }
}

