@(requests: List[models.Request], requestForm: Form[views.formdata.RequestDataform], purchaseOrder: PurchaseOrder, user: User)

@import helper._

@main("Purchase Order")( Arrays.asList("purchaseOrder") )( Arrays.asList("purchaseOrder") ) {


<table>
    <tr>
        <th>Request ID</th>
        <th>Supplier</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Requester ID</th>
        <th>Shipping Date</th>
        <th>Action</th>
    </tr>
    @for( index <- 0 until requests.size) {
        <tr class="request-listing category-@requests(index).category">
            <td class="request-id">@requests(index).id</td>
            <td class="request-supplier">@requests(index).supplier</td>
            <td class="request-productName">@requests(index).productName</td>
            <td class="request-category">@requests(index).category</td>
            <td class="request-quantity" value="@requests(index).requestedQuantity">@requests(index).requestedQuantity</td>
            <td class="requester" value="@requests(index).requester.id">@requests(index).requester.id</td>
            <td class="shippingDate" value="@requests(index).shippingDate">@requests(index).shippingDate</td>
        </tr>
    }
</table>
<br>
<button>Submit</button>
<br>
    @form(routes.PurchaseController.addRequestToOrder(purchaseOrder.id)) {


        @inputText(requestForm("productName"))
        @inputText(requestForm("category"))
        @inputText(requestForm("quantity"))
        @inputText(requestForm("supplier"))

        <input type="submit" value="Add Request">

    }

}