

@main("Registration")( Arrays.asList("registration") )( new ArrayList() ) {
    <div>
        <form id="registrationForm" action="/registration" method="post">
			<fieldset>
				<legend>Registration Form</legend>
				<label class="field">First name:<label/>
				<input class="textbox" type="text" name="firstName" value="" maxlength="100" required/>
				<br />
				<label class="field">Last name:<label/><input class="textbox" type="text" name="lastName" value="" maxlength="100" required/>
				<br />
				<label class="field">Email:<label/><input class="textbox" type="email" name="email" placeholder="Email" maxlength="100" required/>
				<br />
				<label class="field">Date of Birth:<label/><input class="textbox" type="date" name="dateOfBirth" value="" max="1998-1-1" required/>
				<br />
				<label class="field">Password:<label/><input id="password" class="textbox" type="password" name="password" value="" required/>
				<br />
				<label class="field">Repeat Password:<label/><input id="repeatPassword" class="textbox" type="password" name="repeatPassword" value="" required/>
				<br />
				<label class="field">Role:<label/>
				<select id="role" name="role" required>
					<option value="USER">User</option>
					<option value="MANAGER">Manager</option>
					<option value="ADMINISTRATOR">Administrator</option>
				</select>
				<br />
				<label class="field">Gender:<label/>
				<select name="gender" required>
	                <option value="MALE">Male</option>
					<option value="FEMALE">Female</option>
				</select>
				<br />
				<div id="mngrID">
					<label class="field">Manager/Admin ID:<label/><input class="textbox" type="number" name="roleConfirmationId" value="" maxlength="10"/>
					<br />
				</div>
				<input id="button" type="submit" value="Submit" />
			</fieldset>
		</form>
	</div>
}
