@(requests: List[models.Request], categories: List[String], user: User)

@import helper._

@main("See Posted Requests")( Arrays.asList("request") )( Arrays.asList("request") ) {


<table>
    <tr>
        <th>Request ID</th>
        <th>Supplier</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Requester ID</th>
        <th>Shipping Date</th>
        <th>Action</th>
    </tr>
    @for( index <- 0 until requests.size) {
        @helper.form(routes.RequestController.ship(requests(index).id)){
        <tr class="request-listing category-@requests(index).category">
            <td class="request-id">@requests(index).id</td>
            <td class="request-supplier">@requests(index).supplier</td>
            <td class="request-productName">@requests(index).productName</td>
            <td class="request-category">@requests(index).category</td>
            <td class="request-quantity" value="@requests(index).requestedQuantity">@requests(index).requestedQuantity</td>
            <td class="requester" value="@requests(index).requester.id">@requests(index).requester.id</td>
            <td class="shippingDate" value="@requests(index).shippingDate">@requests(index).shippingDate</td>
            <td><input type="submit" value="Ship"></td>
        </tr>
        }
    }
</table>
}
