@(form: Form[views.formdata.ResetPassword])

@helper.form(routes.Application.resetPasswordPost) {
   <h1>Password Change</h1>
   @if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
	}
	<fieldset>
		<legend>Password Reset</legend>
		<p>Email: <input type = "email" name = "email" placeholder = "Email" value = "@form("email").value"></p>
		<p><button type="submit">Submit</button></p>
	</fieldset>
}

<html>
    <head>
        <title>Password Reset</title>
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css">
    </head>
    <body>
        <div id="topBar" style="background-color: #EEE1B1;top: 0;left: 0;height: 60px;width: 100%;position: fixed">
            <a href="/" style="float:right;padding:20px">Registration</a>
            <a href="/login" style="float:right;padding:20px">Login</a>
        </div>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Home</span></a>
        </header>
    </body>
</html>