@(form: Form[views.formdata.ResetPassword])

@main("Reset Password")(new ArrayList())(new ArrayList()) {
    @helper.form(routes.Application.resetPasswordPost) {
       <h1>Password Change</h1>
       @if(form.hasGlobalErrors) {
        <p class="error">
            @form.globalError.message
        </p>
    	}
    	<fieldset>
    		<legend>Password Reset</legend>
    		<p>Email: <input type = "email" name = "email" placeholder = "Email" value = "@form("email").value"></p>
    		<p><button type="submit">Submit</button></p>
    	</fieldset>
    }
}