@(items: List[models.CartItem], cartTotal: String, email: String)

@main("ShoppingHistory")( Arrays.asList("shoppingCart") )( Arrays.asList("shoppingCart") ) {
<table>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Replace</th>
            </tr>
@if( items.size > 0 ) {
@for( index <- 0 until items.size) {
    @helper.form(routes.ProductController.replace(email, items(index).id)){
        
                <tr class="replace-form">
                    <td class="item-name">@items(index).product.name</td>
                    <td class="category">@items(index).product.category</td>
                    <td class="quantity">@items(index).quantityInCart</td>
                    <td class="price">@items(index).product.quantity</td>
                    <td><button class="replace-button" value="@items(index).id">Replace</button></td>
                </tr>
                }
                }
} else {
    <p>Cart is empty.</p>
}

<div id="confirmation-dialog">
    
    <div><input type="number" id="confirmation-dollars"><span>.</span>
    <input type="number" id="confirmation-cents" max="99"><span>$</span></div>
    <div id="confirmation-dialog-txt"></div>
    <div id="confirmation-dialog-error"></div>
</div>

}