@(items: List[models.CartItem])

@main("Shopping Cart")( new ArrayList() )( new ArrayList() ) {
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @for( index <- 0 until items.size) {
        @if( items(index).quantityInCart > 0 ) {
            <tr class="cart-listing">
                <td class="cart-item-name">@items(index).getProduct().getName()</td>
                <td class="cart-item-category">@items(index).getProduct().getCategory()</td>
                <td class="cart-item-quantity" value="@items(index).quantityInCart">@items(index).quantityInCart</td>
                <td class="cart-item-price">@items(index).getProduct().getFormattedPrice()</td>
            </tr>
        }
    }
</table>

}